.fields {
  font-size: 24px;
}
.app-is_game_over {
  will-change: transform;
  animation: 0.5s quake ease-out;
  transition: transform 1s;
}
@keyframes quake {
  0%, 100% { transform: translate(0px, 0px) rotate(0deg); }
  10% { transform: translate(-1.5px,  1.5px) rotate( 2.5deg); }
  20% { transform: translate( 1.5px, -1.5px) rotate(-2.5deg); }
  30% { transform: translate(-1.0px,  1.0px) rotate( 1.5deg); }
  40% { transform: translate( 1.0px, -1.0px) rotate(-1.5deg); }
  50% { transform: translate(-0.5px,  0.5px) rotate( 1.0deg); }
  60% { transform: translate( 0.5px, -0.5px) rotate(-1.0deg); }
  70% { transform: translate(-0.2px,  0.2px) rotate( 0.5deg); }
  80% { transform: translate( 0.2px, -0.2px) rotate(-0.5deg); }
  90% { transform: translate(-0.2px,  0.2px) rotate( 0.5deg); }
}
