.info {
  position: absolute;
  z-index: 2;
  left: 1rem;
  top: -0.7rem;
  padding: 1rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(0,0,0, 0.6);
  color: white;
  font-family: sans-serif;
}
.info .rows, .info .cols {
  display: flex;
}
.info .rows > *, .info .cols > * {
  margin: 5px;
}
.info .rows {
  flex-direction: column;
}

.info.currentGame {
  transition: transform 0.2s;
  top: calc(2rem - 1px);
  transform: translateY(-100%);
}
.info.currentGame a {
  color: inherit;
}
.info.currentGame table {
  color: inherit;
}
.info.currentGame input[type="text"] {
  background: transparent;
  color: inherit;
  font-size: inherit;
  border: 1px solid lightgray;
}
.info.currentGame input[type="text"]::placeholder {
  color: inherit;
  opacity: 0.6;
}
.info.currentGame:hover, .app-is_game_over .info.currentGame {
  transform: translateY(-2.7rem); /* -top - 0.7 */
}
